name: Build and Publish
'on': push
jobs:
  build-mac:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4
      - name: SDL2
        run: brew update && brew install sdl2
      - name: make
        run: make
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: apt
        run: sudo apt update && sudo apt install -y libsdl2-dev
      - name: make all
        run: make
      - name: zip
        run: zip guiapp_linux.zip ./guiapp
      - uses: actions/upload-artifact@v4
        with:
          name: guiapp_linux
          path: ./guiapp_linux.zip
  publish:
    needs: [build-mac, build-linux]
    if: ${{ startsWith(github.event.repository.name, 'v') }}
    runs-on: ubuntu-latest
    steps:
      - env:
          OUTPUT1: ${{ needs.build-mac.outputs }}
        run: echo "Artifact $OUTPUT1"

   