name: Build

on: push

jobs:
    build-linux:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
	    
            - name: apt
              run: sudo apt update && sudo apt upgrade && sudo apt install -y libsdl2-dev
	          
            - name: make
	          run: make