name: Build and Publish
'on': push
jobs:
  build-mac:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4
      - name: SDL2
        run: brew update && brew install sdl2
      - name: make
        run: make
      - name: zip
        run: zip guiapp_mac.zip ./guiapp
      - uses: actions/upload-artifact@v4
        with:
          name: guiapp_mac
          path: ./guiapp_mac.zip
      - name: make clean
        run: make clean
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: apt
        run: sudo apt update && sudo apt install -y libsdl2-dev
      - name: make all
        run: make
      - name: zip
        run: zip guiapp_linux.zip ./guiapp
      - uses: actions/upload-artifact@v4
        with:
          name: guiapp_linux
          path: ./guiapp_linux.zip

  log:
    runs-on: ubuntu-latest #h/t Stack Overflow
    needs: [build-mac, build-linux]
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"

      - name: Show default environment variables
        run: |
          echo "The job_id is: $GITHUB_JOB"   # reference the default environment variables
          echo "The id of this action is: $GITHUB_ACTION"   # reference the default environment variables
          echo "The run id is: $GITHUB_RUN_ID"
          echo "The GitHub Actor's username is: $GITHUB_ACTOR"
          echo "GitHub SHA: $GITHUB_SHA"


  publish:
    needs: [build-mac, build-linux]
    if: ${{ startsWith(github.ref_name, 'v') }}
    runs-on: ubuntu-latest
    steps:
      - env:
          OUTPUT1: ${{ needs.build-mac.outputs.artifact_path }}
        run: echo "$OUTPUT1"

   