name: Build and Publish
'on': push
jobs:
  build-mac:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4
      - name: SDL2
        run: brew update && brew install sdl2
      - name: make
        run: make
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: apt
        run: sudo apt update && sudo apt install -y libsdl2-dev
      - name: make all
        run: make