name: Build Linux
'on': push
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: apt
        run: sudo apt update && sudo apt install -y libsdl2-dev
      - name: make all
        run: make
      - name: make clean
        run: make clean
